<tr>
  <th class="currency-grid-header-name">
    <app-span-with-tooltip text="{{translations['currency-grid-header.name']}}">
    </app-span-with-tooltip>
  </th>
  <th class="currency-grid-header-shortName">
    <app-span-with-tooltip text="{{translations['currency-grid-header.shortName']}}">
    </app-span-with-tooltip>
  </th>
  <th class="currency-grid-header-dollarValueOfSingleUnit">
    <app-span-with-tooltip text="{{translations['currency-grid-header.dollarValueOfSingleUnit']}}">
    </app-span-with-tooltip>
  </th>
  <th class="currency-grid-header-last_24h">
    <app-span-with-tooltip text="{{translations['currency-grid-header.last_24h']}}">
    </app-span-with-tooltip>
  </th>
  <th class="currency-grid-header-amountYouOwn">
    <app-span-with-tooltip text="{{translations['currency-grid-header.amountYouOwn']}}">
    </app-span-with-tooltip>
  </th>
  <th class="currency-grid-header-valueOfYourCoin">
    <app-span-with-tooltip text="{{translations['currency-grid-header.valueOfYourCoin']}}" placement="left">
    </app-span-with-tooltip>
  </th>
</tr>