<tr [ngClass]="{'even-row': even, 'last-row': last}">
  <td class="currency-name ellipsis-display">
    <app-span-with-tooltip text="{{data.name}}">
    </app-span-with-tooltip>
  </td>
  <td class="currency-symbol ellipsis-display">
    <app-span-with-tooltip text="{{data.symbol}}">
    </app-span-with-tooltip>
  </td>
  <td class="currency-price ellipsis-display">
    <app-span-with-tooltip text="{{data.price | currency:'USD':'symbol'}}">
    </app-span-with-tooltip>
  </td>
  <td class="currency-percent_change_24h ellipsis-display">
    <app-span-with-tooltip text="{{data.percent_change_24h}}">
    </app-span-with-tooltip>
  </td>
  <td class="currency-ammountYouOwn">
    <app-currency-input [currencyShortCode]="data.symbol" (ammountOwnedChanged)="onAmmountOwnedChanged()">
    </app-currency-input>
  </td>
  <td class="currency-valueOfYourCoin ellipsis-display">
    <app-span-with-tooltip text="{{data.valueOfYourCoin | currency:'USD':'symbol'}}" placement="left">
    </app-span-with-tooltip>
  </td>
</tr>