tr {
    &:not(.even-row) {
        background-color: #d3d3d3;
    }

    td {
        text-align: center;
        padding: 10px 0 10px 0;
        border: 1px solid black;
        vertical-align: middle;
        max-width: 0;
        border-right-width: 0;

        &.ellipsis-display {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.currency-name {
            width: 10%;
            color: #0000ff;
            text-decoration: underline;
            text-decoration-color: #0000ff;

            :hover {
                cursor: pointer;
            }
        }

        &.currency-symbol {
            width: 10%;
        }

        &.currency-price {
            width: 10%;
        }

        &.currency-percent_change_24h {
            width: 10%;
            font-weight: bold;

            &.price-went-down {
                span {
                    color: #ff0000;
                }
            }

            &.price-went-up {
                span {
                    color: #006400;
                }
            }
        }

        &.currency-ammountYouOwn {
            width: 40%;
        }

        &.currency-valueOfYourCoin {
            width: 10%;
        }
    }

    td:last-child {
        border-right-width: 1px;
    }

    &.last-row {
        td {
            border-bottom-width: 1px;
        }
    }

    &:not(.last-row) {
        td {
            border-bottom-width: 0;
        }
    }
}