    app-currency-grid-header {
        display: table;
        width: calc(100% - 16.5px);
        border: 1;

        .currency-grid-header {
            text-align: left;
            width: 25%;
        }
    }

    app-currency-row {
        display: table;
        width: 100%;

        :tr {
            width: 100%;
            display: block;

            :td {
                border: 1px solid red;
                width: 25%;
            }
        }
    }

    .currency-grid-parent {
        display: flex;
        flex-flow: column;
        height:calc(100vh - 20px);

        .currency-grid-rows-parent {
            flex: 1;
            overflow: auto;
        }
    }