.loading-mask-parent {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: grey;
    opacity: 0.75;
    color: white;
    text-align: center;
    display: table;

    .loading-mask-child {
        display: table-cell;
        vertical-align: middle;
    }
}