<ng-container *ngIf="data">
    <div class="currency-details-name-wrapper">
        <div class="currency-details-name">{{data.name}}</div>
        <div class="logo-wrapper">
            <img src="{{data.logo}}" class="currency-details-logo">
        </div>
    </div>
    <div>
        <div class="currency-details-description">{{data.description}}</div>
    </div>
    <hr />
    <div class="currency-details-website-wrapper">
        <div>{{'currency-details-page.website' | translate}}</div>
        <a href="{{data.website}}">{{data.website}}</a>
    </div>
</ng-container>